# Battle of Neighbourhoods - Week 1

## Part 1 - A description of the problem and a discussion of the background

### 1.1 Description of the Problem
  Chicago is the most populous city in Illinois, as well as the third most populous city in the United States.Chicago is an international hub for finance, culture, commerce, industry, technology, telecommunications, and transportation.
Chicago has a large community of Indians working mainly in Information Technology industry
  Chicago has a wide range of fine dine restaurants  â€“ Asian, Middle Eastern, Latin , African, American etc. Asian cuisine includes several major regional cuisines: Central Asian, East Asian, North Asian, South Asian, Southeast Asian, and West Asian.South Asian cuisine includes the cuisines from the Indian subcontinent and when included in the definition, also that of Afghanistan. Foods in this area of the world are flavoured with various types of chili, black pepper, cloves, and other strong herbs and spices along with the flavoured butter and ghee. Turmeric and cumin are often used to make curries.

###  1.2 Discussion of the Background
A client, a successful restaurant chain in India is looking to expand operation into United States. Thhey want to begin with Chicago as it has a large Indian community. They want to create a high-end restaurant that serves all Indian cuisines like Punjabi, Bengali, Rajashtani, Andhra, Tamil, Kerala, Maharastrian, Goan etc. Their target is not only Indians but all Asians who  would love Indian  cusine.

The client requires a deeper insight into the demographics of Chicago so that they can decide on where to establich their first 'Royal Indian' restaurant that would provide a wide variety of Indian cuisine and  the ambience of the reaturant would represent variety of Indian cultural attributes.

### 1.3 Target Audience
Chicago being a city where lots of Asians reside, it it very important to the client to decide on a location to set up an Indian that is likely to guarantee a return on investement in Chicago.
Also he wants to know the major factors that contribute to the setup of restaurants in a particular location within Chicago. Understanding the  neighbourhood
thorughly would help him in taking a decision on the neighborhood where he would set up his restaurant.

## Part 2 - Description of the data and how it will be used to solve the problem

### 2.1 Description of Data
This project will rely on public data from Wikipedia and Foursquare.

 #### 2.1.1 Dataset 1:
In this project, data is taken from the wikipedia link https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago
There are 246 community areas ( neighborhoods) in Chicago as per the above link.

A sample of the web scrapped of the Wikipedia page for the Greater London Area data is provided below:

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_neighborhoods_in_Chicago'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikipedia_page = requests.get(wikipedia_link, headers = headers)
wikipedia_page

In [3]:

# Cleans html file
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
# This extracts the "tbody" within the table where class is "wikitable sortable"
table = soup.find('table', {'class':'wikitable sortable'}).tbody
# table

In [4]:

# Extracts all "tr" (table rows) within the table above
rows = table.find_all('tr')
# rows

In [24]:

# Cleans html file
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
# This extracts the "tbody" within the table where class is "wikitable sortable"
table = soup.find('table', {'class':'wikitable sortable'}).tbody
# table

In [5]:

# Extracts all "tr" (table rows) within the table above
rows = table.find_all('tr')
# rows

In [6]:
# Extracts the column headers, removes and replaces possible '\n' with space for the "th" tag
columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]
# columns

In [7]:
# Converts columns to pd dataframe
df = pd.DataFrame(columns = columns)
# df

In [8]:
# Extracts every row with corresponding columns
# Then appends the values to the create pd dataframe "df"
# Please not that the first row (row[0]) is skipped because it is already the header

for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

        df

In [11]:
df.head()

      Neighborhood  Community area
0      Albany Park     Albany Park
1  Altgeld Gardens       Riverdale
2    Andersonville       Edgewater
3   Archer Heights  Archer Heights
4    Armour Square   Armour Square

In [13]:
df.shape

(246, 2)

In [17]:
df0 = df.drop('Community area', axis=1)

In [18]:
df0.head()

      Neighborhood
0      Albany Park
1  Altgeld Gardens
2    Andersonville
3   Archer Heights
4    Armour Square